* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.header {
  width: 100%;
}

.header-text {
  width: 100%;
  height: 30px;
  left: 564px;
  top: 4px;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 30px;
  background-color: #11346f;
  height: 39px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.nav-items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 60px;
}

.nav-items p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  line-height: 21px;
  color: #11346f;
  opacity: 0.75;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.nav-items p:hover {
  font-weight: 700;
}

.navbar {
  width: 100%;
  height: 67px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  top: 39px;
  background: rgba(245, 253, 255, 0.8);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(14px);
}

.logo {
  margin-left: 100px;
}

.ordernow {
  margin-right: 100px;
  top: 51px;
  padding-left: 38px;
  padding-right: 39px;
  padding-top: 11px;
  padding-bottom: 12px;
  background: #197aff;
  border-radius: 60px;
  font-weight: 800;
  font-size: 14px;
  cursor: pointer;
  color: #ffffff;
  border: none;
}

.info-panel {
  width: 100%;
  background: #fbfbfb;
}

.info-panel-text {
  display: flex;
  flex-direction: row;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  color: #11346f;
  margin-top: 63px;
  margin-left: 100px;
}

.span-text-magic {
  display: flex;
  flex-direction: column;
  color: #197aff;
  justify-content: center;
  font-size: 47px;
  align-items: flex-end;
  margin-left: -5pxpx;
}

.info-panel-description {
  margin-top: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #262626;
  margin-left: 100px;
}

.info-panel-services {
  width: 735px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  background: rgba(174, 204, 255, 0.1);
  border: 1px solid rgba(174, 204, 255, 0.5);
  border-radius: 10px;
  margin-top: 30px;
}

.vertical-line {
  height: 117px;
  border: 1px solid #cee2ff;
  margin-top: 18px;
}
.info-panel-service-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 20px;
}
.info-panel-service-box #header-text {
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  color: #11346f;
}
.service-box-list {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.info-panel-service-box #description {
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 12px;
  line-height: 20px;
  gap: 3px;
  align-items: center;
  text-align: center;
}
#dot {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.info-panel-container {
  display: flex;
  align-items: center;
}
.magicmassage-image {
  margin-left: 200px;
}
.button-getmassage {
  background: #197aff;
  border-radius: 60px;
  border: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding-left: 57px;
  padding-right: 55px;
  padding-top: 19px;
  padding-bottom: 19px;
}
.bundle-info {
  width: 255px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(77, 145, 207, 0.15);
  box-shadow: 0px 0px 14px #ffffff;
  border-radius: 30px;
}

.bundle-info-amount {
  color: #197aff;
  font-weight: bold;
  margin: 0px 5px;
}
.buttons-getmassage {
  margin-top: 20px;
  margin-left: 40px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.review-badge {
  padding-top: 8px;
  padding-left: 11px;
  padding-bottom: 8px;
  width: 400px;
  background: rgba(234, 242, 255, 0.1);
  border: 1px solid rgba(174, 204, 255, 0.5);
  border-radius: 110px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-right: 100px;
  margin-top: 70px;
}
.review-badge-stars {
  display: flex;
  width: 100%;
  margin-top: 10px;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  justify-content: space-between;

  color: #787979;
}
.review-badge-verified {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #197aff;
  margin-right: 25px;
}
.review-badge-description {
  width: 100%;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
}

.review-badge-stars-author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.info-panel-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.highlights {
  height: 97px;
  left: 0px;
  background: #11346f;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 35px;
}
.highlights-text-icon {
  width: 50px;
  height: 50px;
  background-color: #ffff;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

.highlights-text {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 20px;
}

.offers {
  height: 770px;
  background: linear-gradient(118.72deg, #aeccff -18.14%, #197aff 165.34%);
}
.offers-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-top: 29px;
}
.buy-more {
  font-weight: 700;
  font-size: 37px;
  line-height: 49px;
  color: #11346f;
}
.offers-text-limited {
  font-weight: 900;
  font-size: 37px;
  line-height: 50px;
  color: #ffffff;
}

.offers-card {
  width: 368px;
  height: 510px;
  background: rgb(246, 248, 252, 0.7);
  border: 1.5px solid #197aff;
  border-radius: 18px;
  z-index: 0;
}
.offers-card-first {
  display: flex;
  justify-content: center;
}

.offers-card-first-image {
  z-index: 2;
  margin-top: -20px;
  position: absolute;
  opacity: none !important;
}
.offers-card-info {
  gap: 25px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-card-buy-magicmassage {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #11346f;
}

.first-card-price {
  font-weight: 900;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  color: #11346f;
}

.first-card-shipping {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #11346f;
  margin-top: -20px;
}
.first-card-money-back {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #11346f;
}
.first-card-interest {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
  color: #11346f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.first-card-interest-price {
  font-weight: bolder;
}

.first-card-button {
  width: 331px;
  height: 53px;
  background: #197aff;
  box-shadow: 0px 7px 14px rgba(25, 122, 255, 0.5);
  border-radius: 60px;
  border: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.offers-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 35px;
  margin-top: 50px;
}

.offers-cards-second {
  width: 368px;
  display: flex;
  justify-content: center;
  height: 510px;
  background: linear-gradient(180deg, #ffffff 0%, #d7e6ff 100%);
  border: 1.5px solid #197aff;
  border-radius: 18px;
  box-shadow: 0px 4px 84px #3d5e95;
}
.offers-cards-second-image {
  z-index: 2;
  margin-top: -20px;
  position: absolute;
}

.offers-cards-second-buy-2 p {
  font-style: normal;
  gap: 5px;
  margin-top: 5px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #11346f;
  display: flex;
  flex-direction: row;
}
.offers-cards-second-buy-2 span {
  color: #197aff;
  display: flex;
  flex-direction: column;
}
.offers-cards-second-most-popular-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  height: 28px;
  background: #57ac73;
  border-radius: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}
.offers-cards-second-info {
  display: flex;
  align-items: center;
  margin-top: 85px;
  flex-direction: column;
  gap: 15px;
}
.offers-cards-second-price-actual {
  font-weight: 900;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  color: #11346f;
}
.offers-cards-second-shipping {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #11346f;
}
.offers-cards-second-discount p {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #93a2bb;
  text-decoration: line-through;
}
.offers-cards-second-discount-price {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}
.offers-cards-second-price-remnaining {
  width: 331px;
  height: 83px;
  border: 1px solid #aeccff;
  border-radius: 19px;
  padding: 0;
}
.offers-cards-second-save-money {
  width: 158px;
  height: 43px;
  background: #bff5be;
  border: 1px solid #99d298;
  border-radius: 19px;
  margin-top: -1px;
  margin-left: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  color: #11346f;
}
.offers-cards-second-money-back {
  display: flex;
  gap: 10px;
  height: 43px;
  width: 100%;
  background: #f0f6ff;
  border: 1px solid #aeccff;
  border-radius: 19px;
  margin-top: -1px;
  margin-left: -1px;
}
.offers-cards-second-save-money-back-days {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #11346f;
}
.offers-cards-second-price-remnaining-orders {
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  color: #11346f;
  margin-top: 12px;
}
.offers-cards-third {
  width: 368px;
  height: 510px;
  background: rgb(246, 248, 252, 0.7);
  border: 1.5px solid #197aff;
  border-radius: 18px;
  z-index: 0;
  display: flex;
  justify-content: center;
}
.offers-cards-third-most-popular-badge {
  width: 100px;
  height: 28px;
  background: #ac5780;
  border-radius: 50px;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.customers-saying {
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 49px;
  color: #11346f;
  text-align: center;
}

.customers-saying p {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.customers-saying-span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #197aff;
  font-weight: bolder;
}
.customers-reviews-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #11346f;
}
.customers-reviews-wrtie-review {
  width: 133px;
  height: 30px;
  left: 1196px;
  top: 1727px;
  background: #f6f8fc;
  border: 1px solid #213786;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #3a3075;
}
.customers-reviews {
  display: flex;
  justify-content: space-between;
  padding: 0px 110px;
}

.customers-reviews-card {
  width: 285px;
  height: 472px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
}

.customers-reviews-card-reviews-author {
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  color: #11346f;
}

.customers-reviews-card-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-style: normal;
  font-weight: 800;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #89c25f;
  margin-top: -18px;
}
.customers-reviews-card-reviews-text {
  margin-top: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 26px;
  color: #262626;
  padding: 0px 17px;
}
.customers-reviews-card-reviews {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 17px;
}
.customers-reviews-card {
  display: flex;
  flex-direction: column;
}
.customers-reviews-cards {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 110px;
}
.footer-faq {
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 49px;
  color: #ffffff;
  padding-top: 25px;
}
.footer {
  margin-top: 25px;
  height: 616px;
  background: #11346f;
}
.footer-faq-span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-faq p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion {
  width: 100%;
  height: 59px;
  left: 660px;
  top: 2457px;
  background: #194081;
  border: 1px solid #31548e;
  border-radius: 9px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #aeccff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 35px;
  outline: none;
}

.active {
  width: 652px;
  height: 59px;
  left: 660px;
  top: 2457px;
  background: #194081;
  border: 1px solid #31548e;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border-radius: 9px 9px 0px 0px;
}

.active .arrow-icon {
  transform: rotate(180deg);
}

.accordion:hover {
  cursor: pointer;
}

.panel {
  display: none;
  overflow: hidden;
  border-top: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #aeccff;
  height: 60px;
  border-radius: 0px 0px 9px 9px;
  border: 1px solid #31548e;
  align-items: center;
}
.panel p {
  padding-left: 30px;
}
.footer-image-accordion-container {
  display: flex;
  margin-top: 80px;
}

.accordion-container {
  width: 652px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-image-accordion-container {
  display: flex;
  justify-content: center;
  gap: 70px;
}
.info-panel-text p {
  display: flex;
}

.span-text-magic-wrapper {
  display: flex;
}

.span-text-magic-mobile {
  display: none;
}

.info-panel-description-mobile {
  display: none;
}

.highlights-text-shipping-mobile {
  display: none;
}

.highlights-text-moneyback-mobile {
  display: none;
}

@media only screen and (max-width: 800px) {
  .nav-items {
    display: none;
  }
  .ordernow {
    display: none;
  }
  .logo {
    margin-left: 0px;
  }
  .span-text-magic {
    flex-direction: column;
    align-items: flex-start;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    color: #197aff;
  }
  .span-text-magic svg {
    width: 97px;
  }
  .info-panel-text p {
    flex-direction: column;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    color: #11346f;
  }
  .span-text-magic-mobile {
    display: block;
  }
  .span-text-magic-desktop {
    display: none;
  }
  .info-panel-text {
    margin-left: 17px;
    margin-top: 0px;
    padding-top: 63px;
  }
  .info-panel-description-mobile {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #262626;
  }
  .info-panel-description-desktop {
    display: none;
  }
  .info-panel-description {
    margin-left: 17px;
  }
  .info-panel-service-box #description {
    display: none;
  }
  .info-panel-services {
    margin-left: 9px;
    background: none;
    border: none;
  }
  .vertical-line {
    display: none;
  }
  .info-panel {
    background: #f5fdff;
  }
  .info-panel-container {
    height: 150px;
  }
  .header-text-full {
    display: none;
  }
  .info-panel-footer {
    flex-direction: column;
  }
  .buttons-getmassage {
    margin-left: 0px;
  }
  .review-badge {
    margin-right: 0px;
    margin-top: 10px;
    width: 377px;
  }
  #highlights-text-star {
    display: none;
  }
  .highlights-text-shipping-desktop {
    display: none;
  }
  .highlights-text-shipping-mobile {
    display: block;
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
  }
  .highlights-text {
    flex-direction: column;
    gap: 5px;
  }
  .highlights-text-icon {
    width: 36px;
    height: 36px;
  }
  .highlights-text-icon svg {
    height: 18px;
  }
  .highlights-text-moneyback-desktop {
    display: none;
  }
  .highlights-text-moneyback-mobile {
    display: block;
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
  }
  #moneyback svg {
    width: 26px;
    height: 26px;
  }
  .highlights {
    align-items: center;
    gap: 0px;
    padding: 0px 50px;
  }
  .offers-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 39px;
    text-align: center;
    color: #11346f;
  }
  .offers-text .buy-more {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    color: #11346f;
  }
  .offers-text .offers-text-limited {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
  }
  .magicmassage-image {
    display: none;
  }
  .offers-cards {
    flex-direction: column;
  }
  .offers {
    height: auto;
    padding-bottom: 50px;
  }
  .customers-saying p {
    flex-direction: column;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .customers-saying-span svg {
    width: 165px;
  }
  .customers-reviews {
    padding: 0px;
    align-items: center;
    padding: 0px 15px;
  }
  .customers-reviews-stars {
    flex-direction: column;
    align-items: flex-start;
  }
  .customers-reviews-cards {
    max-width: 400px;
    overflow: scroll;
    padding: 0px 20px;
    gap: 20px;
  }
  .customers {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer-faq p {
    flex-direction: column;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    text-align: center;
    color: #ffffff;
  }
  .footer-faq-span svg {
    width: 131px;
  }
  .footer-image-accordion-container {
    flex-direction: column;
  }
  .footer {
    height: auto;
  }
  .footer-image-accordion-container {
    margin-top: 40px;
    align-items: center;
  }
  .footer-image-accordion-container img {
    width: 100px;
    height: 100px;
  }
  .accordion {
    width: 370px;
  }
  .offers-card {
    width: auto;
  }
  .offers-cards-second {
    width: auto;
  }
  .offers-cards-third {
    width: auto;
  }
  .accordion-container {
    width: auto;
  }
  .review-badge {
    width: 377px;
  }
  .info-panel-service-box #header-text {
    font-size: 12px;
  }
  .buttons-getmassage {
    width: auto;
    font-size: 16px;
    line-height: 21px;
  }
  .review-badge {
    width: auto;
  }
  .highlights {
    margin-top: 0px;
  }
  .info-panel-footer {
    padding-bottom: 20px;
  }
 .accordion-container{
  padding: 0px 15px;
 }
}
